{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<!--         {% for post in posts%}
            <article class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p>Creado: {{post.created_date}} </p>
            <p>{{post.text|linebreaksbr}}</p>
            <p></p>
            <p>Autor: {{post.author}}</p> 
            </article>          
        {% endfor %}
 -->
        {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
     {% endfor %}
{% endblock %}


